<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: darkgray;
        }
        h1,h2 {
            text-align: center;
            font-family: cursive;
            margin: 20px;
        }
        .center{
            display: block;
            margin: 0 auto;
        }
    </style>
    <title>PRO {{ name }}</title>
</head>
<body>
    <h1>You Know Who's a PRO?</h1>
    <h2>The great {{ name }} !!! </h2>
    <img src="https://33.media.tumblr.com/85889b393d3118edd59e646ce55f4ba1/tumblr_nqkro6HfNw1u2l7yjo1_250.gif" alt="celebrations" class="center">
</body>
</html>